body {
    background-image: url("fondo.jpg");

}

.cabecera ul {
    box-shadow: grey 2px 2px 5px; 
    border: solid 3px maroon;
    background-color: maroon;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cabecera li{
    display: inline;
}
.cabecera li h1 {
        border: solid 2px white;
        font-size: 200%;
        color: white;
        display: block;
}
#menu1 {
    
    justify-content: center;
    vertical-align: middle;
    list-style-type: none;
    box-shadow: 4px 4px 6px maroon;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 2px;
}
#menu1id {
    list-style-type: none;
}
#menu1cont {
    border: solid 3px maroon;
    display: block;

    background-color: white;
 
    list-style: none;
}
#menu1 a{
    margin-top: 10px;
    margin-bottom: 20px;
    position: absolute;
    color: maroon;
    border-radius: 20px;
    border: solid 1px maroon;
}
.menup {
    list-style-type: none;
    font-size: xx-large;
    background-color: none;
    border: none;
    
}
button{
    
    background-color: white;
    border-radius: 15px;
    text-shadow: none;
    outline: none;
    text-shadow: none;
    border: solid white;
    transition-duration: 0.5s;
    box-shadow: grey 2px 2px 2px;
}

button:hover {
        box-shadow: 4px 4px 6px grey;
        background-color: maroon;
        color: white;
        
    }
button:active {
        color: maroon;
        background-color: white;
        border:1px maroon;
    }

     

        
        .ttitle{
            background-color: brown;
            color: white;
            
        }

.window {
    border-radius: 4px;
    justify-content: center;
    vertical-align: middle;
    top: 25%;
    left: 50%;
    box-shadow: 5px 5px 6px  rgba(0, 0, 0, 0.5);;
    background-color: white;
    visibility: hidden;
    background-color: white;
    z-index: 10;
    position: fixed;
    border: solid 3px maroon;
    height: auto;
    width: auto;
   
}
.window h2{
    position: center;
    color: white;
}
.window header{
    cursor: move;
    z-index: 11;
    background-color: maroon;
}
    .window table, th {
        border: thin 1px  black;
        box-shadow: grey 2px 2px 5px;
    }
    .window table, th, td {
        box-shadow: grey 2px 2px 5px;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }
.window button{
    width: 99%;
}
window table, th, td::-webkit-scrollbar {
    width: 0 !important
}

.cerrar{
    background-image: "close.png";
    text-align: right;
    background-color: maroon;
    color: white;
    border: dotted 2px white;
}
.cerrar:hover{
    background-color: white;
    color: maroon;
}
input[type="text"]{

    border: none;
    border-bottom: solid 1px white;
    width: 200px;
    box-shadow: grey 1px 1px 5px;
    transition: border 0.25s;
    transition-timing-function: linear;
}
input[type="text"]:hover{
    border-bottom: solid maroon;
}
    input[type="text"]:focus {
        border-bottom: solid maroon;
    }
@media only screen and (max-width: 600px) {
    #menu1{
        width: 99%;
        height: 60%;
    }
    button {
        width: 90%;
    }
    .window{
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        align-content: center;
        font-size: 100%;
    }
    .window input[type="text"]{
        height:10%;
        width: 70%;
        font-size: 200%;
    }
    .window button{
        font-size: 100%;
        width: 100%;
        height: 7%;
    }
        .window .cerrar {
            text-align: right;
            background-color: maroon;
            color: white;
            border: dotted 2px white;
            width: 20%;
            font-size: 100%;
        }
        .windows table{
            width: 100%;
        }
}